h1{
    color:#292f7d;
    text-align:center;
    margin: 1px;
}
h2{
    font-size:x-large;
    color:rgb(150, 2, 2);
    text-align:center;
}
h3{
    text-align:left;
    color:#292f7d;
    font-style: italic;
}
p{
    color:solid black;
    text-align:left;
    font-weight: 500;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    border:2px solid #292f7d;
    border-collapse: collapse;
    width:1400px;
}

th,td{
    border:2px solid#292f7d;
    padding:5px;
    text-align: center;
}

th{
    background-color:red; 
}
img{
    float: right;
    width: 50%;
}
ul{
    font-weight: bold;
}
button{
    color: white;
    background-color: blue;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    font-size: 20px;
    margin: 50px;
    padding: 25px;
    width: 150px;
    background-color: #292f7d;
    color: white;
    text-align: center;
    font-style:italic ;
    font-size: 20px;
}
p::selection {
    background-color: lightgray;
}